
@{
    ViewData["Title"] = "About";
}

<h1>About us</h1>
<body>
    <p> 
        FPT Book - Your partner in the journey of passionate reading!

        FPT Book is proud to be part of FPT Group, one of the leading technology corporations in Vietnam. With over 30 years of experience and a mission to make knowledge and education easily accessible, we have built a trustworthy and enjoyable online book shopping website.

        We understand that books are not only a source of knowledge but also a window to a rich, interesting, and profound world. Therefore, we are committed to providing you with a diverse library with books from many genres, including educational books, novels, detective books, science, technology, and children's books.

        Quality is always our top priority. FPT Book provides books from reputable publishers and leading authors, ensuring satisfaction and comfort for readers.

        Thank you for supporting FPT Book. Discover joy and knowledge in every book you choose with us!
    </p>
    <center>
        <img src="~/Image/Sách.jpg" />
    </center>
</body>
