@model FPTBook.Models.Book
@{
    ViewData["Title"] = "Privacy Policy";
}
<section class="header_text sub">
    <img class="pageBanner" src="~/themes/images/pageBanner.png" alt="New products">
    <h4><span>Product Detail</span></h4>
</section>
<section class="py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <a href="#" class="thumbnail" data-fancybox="group1" data-caption="Description 1">
                            <img src="~/Image/@Model.ImgFileName" alt="" style="width: 50%" />
                        </a>
                    </div>
                    <div class="col-md-6">
                        <address>
                            <strong>Category:</strong> <span>@Model.Category.Name</span><br>
                            <strong>Availability:</strong> <span>@Model.Quantity</span><br>
                            <strong>Description:</strong> <span>@Model.Description</span><br>
                        </address>
                        <h4><strong>Price: $@Model.Price</strong></h4>
                        <a asp-route="addcart" asp-route-productid="@Model.Id" class="btn btn-primary">Add to cart</i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
